.navbar {
    height: 5vh;
    /* background-color: black; */
    /* color: white; */
    display: flex;
    gap: 16;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.activeTab {
    border-bottom: 1px solid black;
}